/* колір верхнього поля,логотипу footer,тексту header, головний   #FFFFFF
колір поля header і footer #2F303A
колір осовного поля #F5F5F5 - це для figma
колір другої секції #F5F4FA 

колір тексту activ #2196F3
колір логотипу header #000000
колір заголовків та спистків #212121
колір силків та тексту #757575
колір силок footer rgba(255, 255, 255, 0.6)
*/
:root {
  --up-white-text: #ffffff;
  --up-white-background: #ffffff;
  --background-header: #c4c4c4;
  --background-footer: #2f303a;
  --line-header: #ececec;
  --line-card: #eeeeee;
  --second-background: #f5f4fa;
  --activ: #2196f3;
  --logo-text: #000000;
  --color-title: #212121;
  --color-text: #757575;
  --color-vector: #afb1b8;
  --contact-footer: #ffffff99;
  --activ-button: #188ce8;
  --card-set-gap: 30px;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--up-white-background);
  color: var(--color-title);
  font-size: 14px;
  letter-spacing: 0.03em;
}
/*------------- прибирання крапки та лінії на тексті -----*/
.list {
  list-style: none;
}
.link {
  padding-left: 0;
  text-decoration: none;
}
/* ----скидання стилів та встановлення меж макету--------- */
.container {
  width: 1200px;
  /* outline: 1px solid green; */
  margin: 0 auto;
  padding: 0 15px;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  /* overflow: hidden; */
}
button {
  display: block;
  font-family: inherit;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}
.section {
  padding: 94px 0px;
}

/* ------------------------сховати заголовок -------*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*------------ шапка---------------------- */
.box {
  border-bottom: 1px solid var(--line-header);
}
.box .container {
  display: flex;
  align-items: center;
}
.box .nav {
  display: flex;
  align-items: center;
}
.box .list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.box .items + .items {
  margin-left: 50px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--activ);
}
/* ---------------------- лінія під логотипом ------------ */
.nav .logo::after {
  display: flex;

  content: '';
  width: 100%;
  height: 1px;

  background: var(--activ);

  transform: scale(0);
  transform-origin: left;
  transition: transform var(--time) var(--time-function);
}
.nav .logo:hover::after {
  transform: scale(1);
}
/* -----------------------------------------------------------// */
.box .logo {
  margin-right: 93px;
}
.web {
  color: var(--logo-text);
}
.item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-title);

  transition: color var(--time) var(--time-function);
}
.item.activ {
  color: var(--activ);
}
.nav .items {
  position: relative;
}
.activ::after {
  display: flex;
  position: absolute;
  bottom: 0;

  content: '';
  width: 100%;
  height: 4px;
  background: var(--activ);
  border-radius: 2px;
}
.box .contact {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-text);

  transition: color var(--time) var(--time-function);
}
.box .item:hover,
.box .item:focus,
.contact:hover,
.contact:focus {
  color: var(--activ);
}
.icon-contact {
  justify-content: center;
  margin-right: 10px;
  align-self: center;
  fill: currentColor;
}
.items-phone {
  display: flex;
  align-items: center;
}

/*--------------------- головна--------------------- */
.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--background-header);
  background-image: linear-gradient(to right, #2f303a66, #2f303a66), url('../images/team.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--up-white-text);

  text-transform: uppercase;
}
.hero-button {
  margin: 0 auto;

  padding: 10px 32px;
  min-width: 216px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--up-white-text);
  background-color: var(--activ);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--time-function);
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--activ-button);
}
/* ----------------------Наші переваги ---------------------*/
.pluses .list {
  display: flex;
  flex-wrap: wrap;
}
.pluses-item {
  width: 270px;
  margin-right: var(--card-set-gap);
}
.pluses-item:nth-child(4n) {
  margin-right: 0;
}
.pluses-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
}
.pluses-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--color-text);
}
.bloc-icon-pluses {
  margin-bottom: var(--card-set-gap);
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--second-background);
}
.icon-pluses {
  width: 70px;
  height: 70px;
}
/*--------------------------- Чим ми займаємось -------------*/
.work.section {
  padding-top: 0px;
}
.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
}
.work-items {
  display: flex;
  gap: var(--card-set-gap);
}
.work-thunb {
  position: relative;
}
.work-text {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--up-white-text);
  background-color: rgba(47, 48, 58, 0.8);
}
/* ---------------------Наша команда -----------------------*/
.team {
  background-color: var(--second-background);
}
.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
}
.team-list {
  display: flex;
}
.team-bloc {
  display: block;
  margin-right: var(--card-set-gap);
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  text-align: center;

  background-color: var(--up-white-background);
}
.team-bloc:last-of-type {
  margin-right: 0;
}
.team-items {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.team-text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--color-text);
}
/* --------------соціальна сітка--------------------------- */
.sosial {
  display: flex;
  gap: 10px;

  justify-content: center;
}
.sosial-button {
  width: 44px;
  height: 44px;
  background-color: var(--up-white-background);
  color: var(--color-vector);
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--time) var(--time-function), color var(--time) var(--time-function);
}
.sosial-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.sosial-button:hover,
.sosial-button:focus {
  background-color: var(--activ);
  color: var(--up-white-text);
  outline: none;
}
/* <!-------------- Постійні клієнти ----------------------> */
.client-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  text-align: center;
}
.client-bloc {
  display: flex;
  gap: var(--card-set-gap);
}
.client-site {
  width: 170px;
  height: 92px;

  background-color: var(--up-white-background);
  border-radius: 4px;
  border: 1px solid var(--color-vector);
  cursor: pointer;
  color: var(--color-vector);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: border-color var(--time) var(--time-function), color var(--time) var(--time-function);
}
.client-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.client-site:hover,
.client-site:focus {
  border-color: var(--activ);
  color: var(--activ);
  outline: none;
}
/* ----------------------сторінка проектів---------------- */
/*------------------- меню проектів-кнопки----------------- */
.list.project {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}
.project-button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--color-title);
  background-color: var(--second-background);
  box-shadow: none;

  transition: background-color var(--time) var(--time-function), color var(--time) var(--time-function), box-shadow var(--time) var(--time-function);
}
.project-button:hover,
.project-button:focus {
  color: var(--up-white-text);
  background-color: var(--activ);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------------------------проекти ----------------------*/
.project-bloc {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}
.card {
  margin-right: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  width: 370px;
}
.card-all {
  display: block;

  box-shadow: none;
  transition: box-shadow var(--time) var(--time-function);
}
.card-all:hover,
.card-all:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-text-bloc {
  padding: 20px 24px;
  border: 1px solid var(--line-card);
}
.card-title {
  margin-bottom: 9px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--color-title);
}
.card-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;

  color: var(--color-text);
}
.card-cover-text {
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--up-white-text);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;

  transform: translateY(100%);
  transition: transform var(--time) var(--time-function);

  /* opacity: 0; */

  background-color: rgba(33, 150, 243, 0.9);
}
.card-all:hover .overlay,
.card-all:focus .overlay {
  /* opacity: 1; */
  transform: translateY(0%);
}
/* ----------------------------Підвал -----------------------------*/
.footer {
  background-color: var(--background-footer);
  padding: 60px 0;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-main {
  padding-right: 70px;
}
.footer-address {
  margin-top: 20px;
}
.footer .logo {
  color: var(--up-white-text);
  display: inline-block;
}
/* ---------------------- лінія під логотипом ------------ */
.footer .logo::after {
  display: flex;

  content: '';
  width: 100%;
  height: 1px;

  background: var(--up-white-text);

  transform: scale(0);
  transform-origin: left;
  transition: transform var(--time) var(--time-function);
}
.footer .logo:hover::after {
  transform: scale(1);
}
/* --------------------------------------------------- */
.footer .web {
  color: var(--activ);
}
.footer-item {
  margin-bottom: 9px;
}
.footer .list :last-child {
  margin-bottom: 0;
}
.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--up-white-text);

  transition: color var(--time) var(--time-function);
}
.footer .contact {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--contact-footer);

  transition: color var(--time) var(--time-function);
}
.address:hover,
.address:focus,
.footer .contact:hover,
.footer .contact:focus {
  color: var(--activ);
}
/* ----------------Приєнуйся соц зв'язок в підвалі --------- */
.footer-sosial-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--up-white-text);
}
.footer-sosial-list {
  display: flex;
  gap: 10px;
}
.footer-sosial-button {
  width: 44px;
  height: 44px;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--time) var(--time-function);
}
.footer-sosial-icon {
  width: 20px;
  height: 20px;
  fill: var(--up-white-background);
}
.footer-sosial-button:hover,
.footer-sosial-button:focus {
  background-color: var(--activ);
  outline: none;
}
/* <!------- Приєднайся залиш свою пошту ---------------> */
.footer-input {
  margin-left: auto;
}
.footer-input-title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--up-white-text);
}
.footer-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 570px;
  height: 50px;
}
.footer-label-input {
  width: 358px;
  padding: 15px 0 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: var(--background-footer);
  color: var(--contact-footer);
}
.form-input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: var(--contact-footer);
}
.footer-input-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;
  padding: 0;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--up-white-text);

  background-color: var(--activ);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--time-function);
}

.footer-input-button:hover,
.footer-input-button:focus {
  background-color: var(--activ-button);
}
.footer-input-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
/* ----------------Модалка1-------------- */
.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity var(--time) var(--time-function);
}
.backdrop.is-hidden .model {
  transform: translate(-50%, -50%) scale(0) rotate(1turn);
}
.model {
  position: absolute;
  top: 50%;
  left: 50%;

  height: 581px;
  width: 528px;

  padding: 40px;

  background-color: var(--up-white-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--time-function);
}

.icon-close-button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: #000000;
  background-color: var(--up-white-background);
}
.icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;

  transition: color var(--time) var(--time-function);
}
.icon-close-button:hover,
.icon-close-button:focus {
  color: var(--activ);
}
/* ----------модул ------------------ */
.model-titel {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}
.model-list:not(:last-child) {
  margin-bottom: 10px;
}
.model-label {
  display: flex;
  flex-direction: column;
  position: relative;
}
.label-titel {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.67;

  letter-spacing: 0.01em;

  color: var(--color-text);
}
.model-input {
  padding: 11px 0px 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--time) var(--time-function);
}
.model-icon {
  position: absolute;

  height: 18px;
  width: 18px;

  bottom: 11px;
  left: 12px;
  fill: var(--color-title);

  transition: fill var(--time) var(--time-function);
}
.model-input:hover,
.model-input:hover + .model-icon,
.model-input:focus,
.model-input:focus + .model-icon {
  border-color: var(--activ);
  fill: var(--activ);
}
.textarea::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.textarea {
  height: 120px;
  resize: none;

  padding: 12px 16px;
  margin-bottom: 25px;
}
.a {
  margin-bottom: 30px;
}
.model-button {
  margin: 0 auto;

  padding: 10px 52px;
  min-width: 96px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--up-white-text);
  background-color: var(--activ);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--time) var(--time-function);
}
.model-button:hover,
.model-button:focus {
  background-color: var(--activ-button);
}
